.about-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100vh;
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 2.5s;
}

.about-container#visible {
    animation-name: fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.about-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#img{
    border-radius: 20px;
}

.about-main {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.about-body h1 {
    font-size: 3rem;
}

.about-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.about-container p {
    flex: 1;
    text-align: justify;
    padding: 10px;
}

.about-container img {
    width: 45%;
    padding: 10px;
    border-radius: 3px;
    margin-left: 20px;
}

.about-skills {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.img-skills {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.about-main:nth-child(1) {
    animation-delay: .2s;
}
.about-main:nth-child(2) {
    animation-delay: .8s;
}
.img-skills:nth-child(1) {
    animation-delay: 1s;
}

.img-skills:nth-child(2) {
    animation-delay: 1.4s;
}

.img-skills:nth-child(3) {
    animation-delay: 1.8s;
}

.img-skills:nth-child(4) {
    animation-delay: 2.2s;
}

.img-skills:nth-child(5) {
    animation-delay: 2.6s;
}
.img-skills:nth-child(6) {
    animation-delay: 3s;
}